# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS / Xcode
DerivedData/
Pods/
*.xcworkspace
xcuserdata/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
